name: Publish 1.0 docs

on:
  workflow_dispatch:

jobs:
  publish-docs:
    name: Publish documentation to nightlies.apache.org
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-connectors-kafka'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: 1.0.x

      - name: Setup Java 8
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: temurin
          java-version: 8

      - name: Install sbt
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

      - name: Cache Coursier cache
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0

      - name: Build Documentation
        run: |-
          sbt "set ThisBuild / version := \"1.0.0\"; docs/paradox; unidoc"
        env:
          JAVA_OPTS: "-verbose:gc -Xmx4g"

      # Create directory structure upfront since rsync does not create intermediate directories otherwise
      - name: Create directory structure
        run: |-
          mkdir -p target/nightly-docs/docs/pekko-connectors-kafka/1.0.0/
          mkdir -p target/nightly-docs/docs/pekko-connectors-kafka/1.0/
          cp -r docs/target/paradox/site/main/ target/nightly-docs/docs/pekko-connectors-kafka/1.0.0/docs
          cp -r docs/target/paradox/site/main/ target/nightly-docs/docs/pekko-connectors-kafka/1.0/docs
          rm -r docs/target/paradox/site/main/
          cp -r target/scala-2.13/unidoc target/nightly-docs/docs/pekko-connectors-kafka/1.0.0/api
          cp -r target/scala-2.13/unidoc target/nightly-docs/docs/pekko-connectors-kafka/1.0/api
          rm -r target/scala-2.13/unidoc

      - name: Upload 1.0.x nightly docs
        uses: ./.github/actions/sync-nightlies
        with:
          upload: true
          switches: --archive --compress --update --delete --progress --relative
          local_path: target/nightly-docs/./docs/pekko-connectors-kafka/1.0.0 # The intermediate dot is to show `--relative` which paths to operate on
          remote_path: ${{ secrets.NIGHTLIES_RSYNC_PATH }}/pekko/
          remote_host: ${{ secrets.NIGHTLIES_RSYNC_HOST }}
          remote_port: ${{ secrets.NIGHTLIES_RSYNC_PORT }}
          remote_user: ${{ secrets.NIGHTLIES_RSYNC_USER }}
          remote_key: ${{ secrets.NIGHTLIES_RSYNC_KEY }}

      - name: Upload 1.0 nightly docs
        uses: ./.github/actions/sync-nightlies
        with:
          upload: true
          switches: --archive --compress --update --delete --progress --relative
          local_path: target/nightly-docs/./docs/pekko-connectors-kafka/1.0 # The intermediate dot is to show `--relative` which paths to operate on
          remote_path: ${{ secrets.NIGHTLIES_RSYNC_PATH }}/pekko/
          remote_host: ${{ secrets.NIGHTLIES_RSYNC_HOST }}
          remote_port: ${{ secrets.NIGHTLIES_RSYNC_PORT }}
          remote_user: ${{ secrets.NIGHTLIES_RSYNC_USER }}
          remote_key: ${{ secrets.NIGHTLIES_RSYNC_KEY }}
