on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

name: Launch Scala Steward

jobs:
  scala-steward:
    runs-on: ubuntu-22.04
    name: Launch Scala Steward
    if: github.repository == 'apache/pekko-connectors-kafka'
    steps:
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@df2a4cec1721d0b48be3e1d1f0acdf7543ea0fb4 # v2.84.0
        with:
          github-app-id: ${{ secrets.SCALA_STEWARD_APP_ID }}
          github-app-installation-id: ${{ secrets.SCALA_STEWARD_INSTALLATION_ID }}
          github-app-key: ${{ secrets.SCALA_STEWARD_PRIVATE_KEY }}
          github-app-auth-only: true
